.img-style-board{
    width: 30px;
    height: 30px;
    object-fit: cover;
margin-right: 15px;
    /*margin-top:20px;*/
    /*margin-bottom:20px;*/
    /*background-position: center center;*/
    /*!*box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);*!*/
    /*background-size: cover;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-top: 25px;*/
}
.button-d {
    padding: 4px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #61677A;
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-bottom:20px;
}
.button-d:after {
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     top: 50%;
     left: 50%;
     top: var(--mouse-y);
     left: var(--mouse-x);
     transform-style: flat;
     transform: translate3d(-50%,-50%,0);
     background: rgba(white,.1);
     border-radius: 100%;
     transition: width .3s ease, height .3s ease;
 }
.button-d:focus,
.button-d:hover {
     background: darken(#61677A,7%);
 }
/*.button-d:active, .button-d:after {*/
/*     width: 300px;*/
/*     height: 300px;*/
/* }*/
.loading{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.card-board{
    height:100px;
    width:300px;
    border-radius: 5px;
    cursor: pointer;
}
.card-img{
    height:100px;
    object-fit: cover;
    width:300px;
}
.card-svg{
    height:30px;
    object-fit: cover;
    width:30px;
    margin: auto;
    /*margin-top:10px;*/
    /*text-align:center;*/
}
.boards-h2{
    color: white;
    margin-bottom:-30px!important;
    font-size:22px;
    font-family: Poppins, sans-serif;
}
.card-title-board{
    font-weight: bold;
    text-align: unset;
}