.img-style-board{
    width: 30px;
    height: 30px;
    object-fit: cover;
margin-right: 15px;
    /*margin-top:20px;*/
    /*margin-bottom:20px;*/
    /*background-position: center center;*/
    /*!*box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);*!*/
    /*background-size: cover;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-top: 25px;*/
}
.button-d {
    padding: 4px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #61677A;
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-bottom:20px;
}
.button-d:after {
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     top: 50%;
     left: 50%;
     top: var(--mouse-y);
     left: var(--mouse-x);
     transform-style: flat;
     transform: translate3d(-50%,-50%,0);
     background: rgba(white,.1);
     border-radius: 100%;
     transition: width .3s ease, height .3s ease;
 }
.button-d:focus,
.button-d:hover {
     background: darken(#61677A,7%);
 }
/*.button-d:active, .button-d:after {*/
/*     width: 300px;*/
/*     height: 300px;*/
/* }*/
.loading{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.card-board{
    height:100px;
    width:300px;
    border-radius: 5px;
    cursor: pointer;
}
.card-img{
    height:100px;
    object-fit: cover;
    width:300px;
}
.card-svg{
    height:30px;
    object-fit: cover;
    width:30px;
    margin: auto;
    /*margin-top:10px;*/
    /*text-align:center;*/
}
.boards-h2{
    color: #272829;
    /*margin-bottom:-10px!important;*/
    font-size:20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    padding-top:20px;
}
.card-title-board{
    font-weight: bold;
    text-align: unset;
}
.list-board{
    background-color: var(--accent-background, var(--tr-background-list, rgb(255, 255, 255)));
    border-radius: 7px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    color: var(--accent-text, var(--ds-text-subtle, #44546f));
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    flex-direction: column;
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 272px;*/
    align-self: start;
    /*padding-bottom: 8px;*/
    position: relative;
    /*scroll-margin: 8px;*/
    white-space: normal;
    width: 380px;
    box-sizing: border-box;
    min-height:40px;
    /*vertical-align: top;*/
}
.task-status{
    font-weight: 600;
    font-size: 16px;
    padding-bottom:10px;
}
.list-add-svg{
    width:15px;
    height:15px;
   margin-right:5px;
}
.span-tsk{
    /*padding-top:2px;*/
}
.add-card{
    background-color: var(--accent-background, var(--tr-background-list, rgb(255, 255, 255)));
    border-radius: 7px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    color: var(--accent-text, var(--ds-text-subtle, #44546f));
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    margin-bottom:20px;
    flex-direction: column;
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 272px;*/
    align-self: start;
    /*padding-bottom: 8px;*/
    position: relative;
    /*scroll-margin: 8px;*/
    white-space: normal;
    width: 380px;
    box-sizing: border-box;
    min-height:120px;
    /*vertical-align: top;*/
}
.create-task{
    font-size:17px;
    font-weight: 600;
}
.form-create-task{
    padding:10px;
    width: 97%;
}
.taskDescription{

}
.titleOfTask{

}
.create-task-btn{
    width: 100%;
    margin-top: 20px;
    border-radius: 7px;
    /*padding-bottom:20px;*/
    /*height:20px;*/
    /*background-color: rgba(19, 42, 144, 0.46) !important;*/
    color: #ffffff;
}
.form-create-task .form-group label, .form-create-task .form-group input, .form-create-task .form-group textarea{
    font-size:15px;
    padding-top:10px;
}
.tags-input-container{
    border: 2px solid #000;
    padding-left: .5em;
    border-radius: 3px;
    /*width: min(80vw, 600px);*/
    /*margin-top: 1em;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    min-height: 40px;
    /*padding-top:10px;*/
}

.tag-item{
    background-color: rgb(218, 216, 216);
    display: inline-block;
    /*padding: .5em .75em;*/
    border-radius: 20px;
    height:22px;
    font-size:14px;
    /*padding-bottom: 12px;*/
    padding-left:5px;
    margin-top:10px;
    margin-bottom:10px;
   /*padding-bottom:4px;*/
}
.tag-item .close{
    height: 22px;
    width: 22px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
}

.tags-input{
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}
.form-create-task .form-group input#taskDueDate{
    height:30px;
    padding-bottom:10px;
}