.svg_navbar {
    width: 40px;
    height: 40px;
    margin-right:5px;
}

.svg_navbar2 {
    width: 30px;
    height: 20px;
}

.textdecoration {
    text-decoration: none;
}

.align_center {
    text-align: center;
    margin-top: 100px;
}

.nav_link {
    font-size: 1em;
    padding-right: 40px !important;
    color: black;
    text-decoration: none;
}

.nav_brand {
    font-size: 1.4em;
    padding-left:5px;
}

.nav_menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav_link {
        display: none;
    }

    .nav_menu {
        display: block;
    }

    .nav_menu_bck {
        background: url(/public/menu-icon.svg) no-repeat center center;
        height: 80px;
        width: 80px;
        background-size: 50px auto;
        float: right;
        display: inline-block;
    }
}

.bck-pr {
    background-color: white;
    height:100%;
    display: flex;
    color: #222831;
    /*display: flex; */
    flex-flow: row nowrap;
    /*flex-direction:row;*/
}

.proj-list-margin {
    padding-left: 80px;
    font-family: Poppins, sans-serif;
}
@media only screen and (max-width: 1150px) {
    .proj-list-margin {
        padding-left: 120px;
    }
}
@media only screen and (max-width: 1000px) {
    .proj-list-margin {
        padding-left: 200px;
        /*margin-right:10px;*/
    }
}
