.proj-list{
    padding-top:40px;
    color: #222831;
}
.ShowBookList{
    color: #222831;
    flex-shrink: 0;
    flex-grow: 2;
    /*width: 1000px;float:right;*/
}
.img-style-proj{
    width: 120px;
    height: 85px;
    object-fit: cover;
    /*margin-top:20px;*/
    margin-bottom:20px;
    background-position: center center;
    /*box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #4d483d;
}
.blob-to-image{
    width:50px;
    height:50px;
}
/*.ShowBookList{*/
/*    flex: 1;*/
/*}*/
.card-title-proj{
    font-size:18px;
    margin-top: -10px;
    /*text-align: left;*/
    background-color: transparent;
    border: none;
    width: 240px;
    color: #25283D;
    /*padding-left: 6px;*/
}
.card-title{
    text-align: center;
    background-color: transparent;
    border: none;
    width: 240px;
}
.svg-icon{
    width:25px;
    height:25px;
}
.card{
    min-width: 280px;
    background-color: white;
    /*background-color: #d668533d;*/
    border:none;
    border-radius: 20px;
    /*border: 1px solid #25283d6e;*/
    box-shadow: 1px 15px 20px #354f523b;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-title{
    font-size:16px;
    margin-top: -10px;
}
.board-title{
    color: #272829;
    /*margin-bottom:-10px!important;*/
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    border: none;
    /*padding-top: 20px;*/
    background-color: transparent;
}
.progress_top{
    display:flex;
    padding-top:10px;
}
.span_progress{
    font-size:14px;
    padding-left:5px;
    font-weight: 500;
}
.card-title1{
    border: 2px solid #5B6C5D;
    border-radius: 5px;
}
.board-title1{
    border: 2px solid #4d483d;
    border-radius: 5px;
}
.list2{
    background-color: white;
    border-radius: 5px;
    min-width: 280px;
}
.icon-statistic{
    background-color: #587785;
    border-radius: 10px;
    width: 50px;
    /* padding-right: 10px; */
    margin-right: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.total-statistic{
    padding-top: 14px;
    font-weight:550;
}
.display-dots-proj{

}
.icons li {
    background: none repeat scroll 0 0 #212133;
    height: 6px;
    width: 6px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
}
.settings-btn-proj {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* width: 90%; */
    outline: none;
    cursor: pointer;
    position: absolute;
    float: right;
    text-align: right;
    /* vertical-align: middle; */
    vertical-align: middle;
    top: 20px;
    /*!* top: -40px; *!*/
    right: -10px;
    z-index: 1000;
}
.progress-bar1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.nb-prog{
    padding-left:15px;
}
 .progress-bar{
    background-color:#3C40C6;

}
.progress{
    border-radius: 2px;
    height:8px;
}