.labels-task {
    font-size: 14px;
    /*display:flex;*/
    /*padding-top:10px;*/
}

.label-task {
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding-left: 8px;
    height: 25px;
    padding-right: 8px;
    /*padding-top:3px;*/
    /*padding: 0.5em 0.75em;*/
    border-radius: 3px;
    /*height: 22px;*/
    font-size: 12px;
    padding-bottom: 6px;
    cursor: pointer;
    margin-right:5px;
    margin-left:4px;
}

.label-t {
    padding-right: 50px;
    padding-left: 5px;
}

.edit-task {
    background-color: transparent;
    color: #272829;
    border-radius: 7px;
    margin-right: -100px;
    font-size: 13px;
    padding: 3px;
    width: 50px;


    line-height: 20px;
    /*font-weight: 400;*/
    font-display: swap;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    background-color: rgb(218, 216, 216);
    box-shadow: none;
    border: none;
    color: var(--ds-text, #172b4d);
    font-weight: 500;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.save-task {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-display: swap;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    background-color: var(--ds-background-neutral, #091e420f);
    box-shadow: none;
    border: none;
    color: var(--ds-text, #172b4d);
    font-weight: 500;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.cancel-task {
    font-size: 14px;
}

.not-vis {
    display: none;
}

.task-br {
    border: 1px solid rgb(218 216 216);
    content: "A" !important;
    /* display: block !important; */
    /* margin-bottom: 1.5em !important; */
    margin-top: 20px;
    margin-bottom: -10px;
    /*width:80%;*/
    text-align: center;
}

.form-control:disabled {
    background-color: transparent;
    opacity: 1;
}
.section_label {
    /*color: #D8D9DA;*/
    font-family: Poppins, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    background-color: rgb(232, 228, 228);
    box-shadow: var(--ds-shadow-overlay, 0px 8px 12px #091e4226, 0px 0px 1px #091e424f);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    /*left: 220px;*/
    width: auto;
    position: absolute;
    /*margin-top: -10px;*/
    border-radius: 3px;
    z-index: 1002;
}
.little-bck-label {
    align-items: center;
    /*background-position: center center;*/
    /*background-size: cover;*/
    border-radius: 3px;
    box-shadow: none;
    /* color: var(--ds-background-neutral, #091e420f); */
    display: grid;
    height: 100%;
    justify-content: center;
    /*margin: 0;*/
    /*min-height: 0;*/
    /*outline: 0;*/
    /*padding: 10px;*/
    position: relative;
    line-height: 0;
    width: 100%;
    cursor: pointer;
}
ul.ul-little-div-label{
    /*display: flex;*/
    justify-content: space-between;
    list-style-type: none;
    margin-right:30px;
    margin-top: 10px;
    padding-left: 30px;
    /*padding-right: 30px;*/
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}
.form-update-label .form-group{
    /*padding: 10px;*/
    /*margin-bottom:10px;*/
}
.col1{
    background-color: #00a0b0;
}
.col2{
    background-color: #cc2a36;
}
.col3{
    background-color: #eb6841;
}
.col4{
    background-color: #edc951;
}
.col5{
    background-color: #4f372d
}
.col6{
    background-color: #00aedb;
}
.col7{
    background-color: #d11141;
}
.col8{
    background-color: #f37735;
}
.col9{
    background-color: #ffc425;
}
.col10{
    background-color: #00b159;
}
.col11{
    background-color: #9ed670;
}
.col12{
    background-color: #d64d4d;
}
.col13{
    background-color: #e39e54;
}
.col14{
    background-color: #e8d174;
}
.col15{
    background-color: #4d7358;
}
li.li-little-div{
    width: 40px;
    height: 32px;
    margin-top:10px;
}
.label-task-clr {
    color:white;
}